* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif; 
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

img {
    max-width: 100%;
}

.btn {
    background-color: royalblue;
    color: white;
}

/* header  */
h1 {
    font-size: 60px;
}

#menu-principale {
    width: 100%;
    line-height: 80px;
    /* debug  */
    background-color: pink;
}

.menu-sx {
    float: left;
}

.menu-dx {
    float: right;
}


/* jumbotron */
#jumbotron {
    background-color: skyblue;
}

#center-jumbo {
    width: 80%;
    margin: 0 auto;
}

#jumbo-dx { 
    float: left;
    width: 60%;
    margin-left: 5%;
}

#jumbo-sx {
    float: left;
    width: 35%;
}


/* main  */

/* sezione 1 */

.container-mid {
    width: 70%;
    margin: 0 auto;
}

.due {
    margin: 0 5%;
}

.colonna {
    float: left;
    width: 30%;
    border: 1px solid gray;
}

.quattro {
    border: 1px solid gray;
    margin-top: 30px;
}


#sottocolonna-sx {
    float: left;
    width: 60%;
}

#sottocolonna-dx {
    float: left;
    width: 35%;
}

/* sezione2 */
#sezione2 {
    margin: 40px 0;
}
#midsx {
    float: left;
    width: 50%;
}

#middx {
    float: left;
    width: 50%;
    padding-left: 10%;
}

/* sezione3  */

#sezione3 .colonna {
    border: none;
}

/* sezione5  */
.row-partner {
    background-color: rgb(194, 210, 226);
}

.spazio-testo, .spazio-img{
    float: left;
    width: calc(100% / 3);
}

.square {
    float: left;
    width: 50%;
    height: 200px;
}

.ridimensionatore {
     padding: 20%;
}
.loghi {
    max-height: 100%;
    max-width: 100%;
    
}

.altsx1 {
    background-color: springgreen;
}

.altdx1 {
    background-color: rgb(82, 15, 7);
}

.bassx1 {
    background-color: turquoise;
}

.basdx1 {
    background-color: tomato;
}

.altsx2 {
    background-color: rgb(153, 24, 24);
}

.altdx2 {
    background-color: rgb(139, 196, 253);
}

.bassx2 {
    background-color: rgb(31, 31, 146);
}

.basdx2 {
    background-color: rgb(165, 165, 11);
}